
RoadrunnerSimconnect/.vs/RoadrunnerSimconnect/v16/.suo
RoadrunnerSimconnect/RoadrunnerSimconnect/bin/x64/Debug/Microsoft.FlightSimulator.SimConnect.dll
RoadrunnerSimconnect/RoadrunnerSimconnect/bin/x64/Debug/Simconnect test.exe
RoadrunnerSimconnect/RoadrunnerSimconnect/bin/x64/Debug/Simconnect test.exe.config
RoadrunnerSimconnect/RoadrunnerSimconnect/bin/x64/Debug/Simconnect test.pdb
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/Debug/RoadrunnerSimconnect.csproj.CopyComplete
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/Debug/RoadrunnerSimconnect.csproj.CoreCompileInputs.cache
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/RoadrunnerSimconnect.csproj.CopyComplete
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/RoadrunnerSimconnect.csproj.CoreCompileInputs.cache
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/RoadrunnerSimconnect.csproj.FileListAbsolute.txt
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/RoadrunnerSimconnect.csproj.GenerateResource.cache
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/Simconnect test.exe
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/Simconnect test.pdb
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/Simconnect_test.Form1.resources
RoadrunnerSimconnect/RoadrunnerSimconnect/obj/x64/Debug/Simconnect_test.Properties.Resources.resources
